@model BibliotecaWebApplication.Models.Autor

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Autor</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div class="form-group row">
            <label asp-for="Nombres" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Apellidos" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Nacionalidad" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Nacionalidad" class="form-control" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-create"><i class="fas fa-save"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-back"><i class="fas fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
